<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Pagina home</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

	<!-- Estilo CSS -->
	<link rel="stylesheet" type="text/css" href="../public/css/estilo2.css">
	
	
</head>
<body>
	<div class= "col-xs-12" id="topBar">		
		<!-- #Chat no Qual você se encontra -->
		<%= login.canais %>
	</div>
	
	<div class= "col-xs-3" id="side">
		<!-- <button class="btn btn-primary" id="pessoasCanais"> Pessoas / Canais</button> -->
		<h1 id="msgSide">Lista de canais disponíveis </h1>
		<div id="jurema">
		<!-- <a href="#" ><p id="linkCanal">#Canal A	</p></a> -->
		</div>
	</div>

	<div class="col-xs-9" id="main">
		
		<div id="boxMsg">
				<!-- Exemplo para view -->
				<!-- <h3>Rodrigo <small>[23/04/17 14:30]</small></h3>
				<p class="showMsg">Tomara que de tudo certo</p> -->
		</div>
		<div class="container" id="oie">
			<div class="input-group">
				<input class="form-control" type="text" placeholder="Digite sua msg" id = "inputMsg" autofocus="">
					<!-- Enquanto nao esta usando JSON -->
						<input type="hidden" value="<%= login.nick%>" id="nick">
						<input type="hidden" value="<%= login.canais%>" id="canais">
						<input type="hidden" value="<%= login.servidor%>" id="servidor"> 

						<!-- Fim da gambiarra -->
				<span class="input-group-btn">
					<button class="btn btn-default" id="enviarMsg"> > </button>
				</span>
			</div>	
		</div>
			
		
	</div>
	<script
	  src="https://code.jquery.com/jquery-3.2.1.min.js"
	  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
	  crossorigin="anonymous"></script>

	<script src="/socket.io/socket.io.js"></script>
	<script src="../public/js/conexaoComServer.js"></script>

</body>

</html>