<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>P2- Grupo 6</title>
	<!-- Bootstrap Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<!-- Estilo CSS -->
	<link rel="stylesheet" type="text/css" href="../public/css/estilo.css">
	<!-- Javascript -->

	
</head>
<body>

<div class="col-md-4 col-md-offset-4" id="painel-meio">
	<div class="panel panel-default">
		<div class="panel-heading"> 
			<h1>Login</h1>                               
		</div>
		<form action="/chat" method="post">
		<fieldset>
			<div class="panel-body">
				<div class="col-xs-2">
		        	<h3><small>Nick</small></h3>
		        	<h3><small>Canais</small></h3>	        	 
		        	<h3><small>Servidor</small></h3>	        	 
				 </div>
				
		        <div class="col-xs-10" id="form"> 
		        	<input class="form-control" type="text" placeholder="Digite seu nick" 	id= "nick" name="nick" autofocus="">
		        	<input class="form-control" type="text" placeholder="Ex: #UFG !UFG" id = "canais" name="canais">
		        	<input class="form-control" type="text" placeholder="irc.freenode.net " id="servidor" name="server" value="irc.freenode.net" disabled>
		        </div>


				<div class= "col-xs-12">
					<button type="submit" class="btn btn-primary">Login</button>
				</div>
			</div>
		</fieldset>
		</form>
			<div id="Validacao de erros">
			<% if(validacao.length > 0){ %>
				<div class="col-md-12" id="alerta">
					<div id='nick'>
						<strong>Atenção!</strong>
						<ul>
							<% for(var i=0; i < validacao.length; i++){ %>
								<li><%=validacao[i].msg%></li>
							<% } %>
						</ul>
					</div>
				</div>
			<% } %>
			</div>
	</div>

</div>


</body>
</html>