#painel-meio{
	position: absolute;
	top:0;
	left: 0;
	right: 0;
    bottom: 0;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    z-index: 1;

}
h3{
    margin-top: 9px;
    font-color: white;
}
.form-control{
    margin-bottom: 10px;
}
.btn{
    width: 100%;
    margin: 0;
    margin-top: 10px;
    line-height: 50px;
    padding: 0;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    font-size: 12pt;
}
body{
   background-image: url('../images/Land_layer.jpg');
   background-size: 100%;
    /*background-color: rgb(63,63,63);*/
}
.panel{
    background: rgba(40,43,48,.75);
    border: none;
}
.form-control{
    background: rgba(40,43,48,.75);
    border: none;
}
.panel-default>.panel-heading {
    color: white;
    background-color: rgba(30,33,36, .75);
    border-color: transparent;
}
#alerta{
    color:rgb(114, 137,218);
}

.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
    background: rgba(40,43,48,.75);
    /* background-color: #eee; */
    /* opacity: 1; */
}